nav {
    span {
        color: #fff !important;
    }

    li:hover {
        background-color: #a7a7a7;
        border-radius: 8px;

    }

    li {
        transition: ease-in-out 100ms;
    }
}

.nav-item {
    margin-right: 10px;
}
.active {
    background-color: #a7a7a7 !important;
    border-radius: 8px;
}