@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Open+Sans&family=Roboto:wght@400;500&family=Rubik+Dirt&family=Silkscreen&display=swap');
@import './bootstrap-custom';
@import './Home/home.scss';
@import './Header/header.scss';
@import './Login/login.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;

    min-height: 100vh !important;
}

main {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #f0717e;
  border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f0717e;
}